@mixin bordered($width, $color) {
    border: $width solid $color;
}


@mixin box-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin box-margins($width) {
    margin: 0 auto;
    width: $width;
    display: flex;
    justify-content: center;
}